extends layout

block content
  div(class='centredcontainer', style='margin-bottom: 20px')
    p
      img(class='textheight',src='/images/raspberrypi.png', alt='RPi')
      | &nbsp;
      a(href='/')
        | Home
    h2
      =title
    a(href='/leagueTeams/#{id}/#{gameweek}')
      | All Team Data
    a(href='/graphs/#{id}', style='padding-left:3em')
      | Stats
  block leagueTable
