extends layout

block content
  div(class='centredcontainer')
    p
      img(class='textheight',src='/images/raspberrypi.png', alt='RPi')
      | &nbsp;
      a(href='/')
        | Home
    h2
      =title
  block leagueTable
