extends league

block leagueTable

  table(class='generaltable')
    tr
      th
        b
      th
        b
      th
        b Manager
      th
        b Team Name
      th
        b Gameweek
      th
        b League Points
    each team, i in teams
      tr
        td
          img(class='arrowheight', src='/images/Arrow_#{team.posDifferential}.png')
        td
          =team.livePosition
        td
          =team.managerName
        td
          =team.teamName
        td
          =team.gw
        td
          =team.liveLP
