extends league

block leagueTable
  div(class='centredcontainer')
    h3 Fixtures

  table(class='generaltable')
    each homeTeam, i in home
      tr
        td
          =homeTeam.teamName
        td
          =homeTeam.gw
        td -
        td
          =away[i].gw
        td
          =away[i].teamName




  div(class='centredcontainer')
    h3 Live League Table

  table(class='generaltable')
    tr
      th
        b
      th
        b
      th
        b Manager
      th
        b Team Name
      th
        b GW
      th
        b W
      th
        b D
      th
        b L
      th
        b League Points
      th
        b Points
    each team, i in teams
      tr
        td
          img(class='arrowheight', src='/images/Arrow_#{team.posDifferential}.png')
        td
          =team.livePosition
        td
          =team.managerName
        td
          =team.teamName
        td
          =team.gw
        td
          =team.liveWin
        td
          =team.liveDraw
        td
          =team.liveLoss
        td
          =team.liveLP
        td
          =team.livePoints
