extends layout

block content
  div(class='textcontainer')
    h2
      =title
    div(class='fullteamcontainer')
      div(class='fullTeamLeftHeader')
        | Team Name
        br
        | Manager Name
        br
        | Gameweek Score
      div(class='fullTeamRightHeader')
        |League 1: Pos - Points - Down
        br
        | League 2: Pos - Points - Up
        br
        | League 3: Pos - Points - >
      div(class='centredcontainer')
        table(class='playerBoxTable')
          tr
            td Player Name
          tr
            td 14 - C - img
      div(class='centredcontainer')
        table(class='playerBoxTable')
          tr
            td Player Name 2
          tr
            td 14 - C - img
        table(class='playerBoxTable')
          tr
            td Player Name 4
          tr
            td 14 - C - img
        table(class='playerBoxTable')
          tr
            td Player Name 3
          tr
            td 14 - C - img
      div(class='centredcontainer')
        table(class='playerBoxTable')
          tr
            td Player Name 2
          tr
            td 14 - C - img
        table(class='playerBoxTable')
          tr
            td Player Name 4
          tr
            td 14 - C - img
        table(class='playerBoxTable')
          tr Player Name 3
          tr 14 - C - img
        table(class='playerBoxTable')
          tr Player Name 3
          tr 14 - C - img
        table(class='playerBoxTable')
          tr Player Name 3
          tr 14 - C - img
      div(class='centredcontainer')
        table(class='playerBoxTable')
          tr Player Name 2
          tr 14 - C - img
        table(class='playerBoxTable')
          tr Player Name 4
          tr 14 - C - img
        table(class='playerBoxTable')
          tr Player Name 3
          tr 14 - C - img
